.board {
	&__container {
		display: flex;
		flex-direction: column;
		flex-basis: 598px;
		max-width: 598px;
		margin: 0 16px;
		border-radius: 16px;
		background-color: #ecf1fd;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}
